## Memanggil Library Pandas

In [1]:
import pandas as pd
import numpy as np

## DataFrame & Series

In [2]:
import pandas as pd
# Series
number_list = pd.Series([1,2,3,4,5,6])
print("Series:")
print(number_list)
# DataFrame
matrix = [[1,2,3],
          ['a','b','c'],
          [3,4,5],
          ['d',4,6]]
matrix_list = pd.DataFrame(matrix)
print("DataFrame:")
print(matrix_list)

Series:
0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
DataFrame:
   0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6

## Atribut DataFrame & Series - Part 1

In [3]:
import pandas as pd
# Series
number_list = pd.Series([1,2,3,4,5,6])
# DataFrame
matrix_list = pd.DataFrame([[1,2,3],
                            ['a','b','c'],
                            [3,4,5],
                            ['d',4,6]])
# [1] attribute .info()
print("[1] attribute .info()")
print(matrix_list.info())

# [2] attribute .shape
print("\n[2] attribute .shape")
print("    Shape dari number_list:", number_list.shape)
print("    Shape dari matrix_list:", matrix_list.shape)

# [3] attribute .dtypes
print("\n[3] attribute .dtypes")
print("    Tipe data number_list:", number_list.dtypes)
print("    Tipe data matrix_list:", matrix_list.dtypes)

# [4] attribute .astype()
print("\n[4] attribute .astype()")
print("    Konversi number_list ke str:", number_list.astype("str"))
print("    Konversi matrix_list ke str:", matrix_list.astype("str"))

[1] attribute .info()
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4 non-null      object
 1   1       4 non-null      object
 2   2       4 non-null      object
dtypes: object(3)
memory usage: 224.0+ bytes
None

[2] attribute .shape
    Shape dari number_list: (6,)
    Shape dari matrix_list: (4, 3)

[3] attribute .dtypes
    Tipe data number_list: int64
    Tipe data matrix_list: 0    object
1    object
2    object
dtype: object

[4] attribute .astype()
    Konversi number_list ke str: 0    1
1    2
2    3
3    4
4    5
5    6
dtype: object
    Konversi matrix_list ke str:    0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6

## Atribut DataFrame & Series - Part 2

In [4]:
import pandas as pd
# Series
number_list = pd.Series([1,2,3,4,5,6])
# DataFrame
matrix_list = pd.DataFrame([[1,2,3],
                            ['a','b','c'],
                            [3,4,5],
                           ['d',4,6]])
# [5] attribute .copy()
print("[5] attribute .copy()")
num_list = number_list.copy()
print("    Copy number_list ke num_list:", num_list)
mtr_list = matrix_list.copy()
print("    Copy matrix_list ke mtr_list:", mtr_list)	

# [6] attribute .to_list()
print("[6] attribute .to_list()")
print(number_list.to_list())

# [7] attribute .unique()
print("[7] attribute .unique()")
print(number_list.unique())

[5] attribute .copy()
    Copy number_list ke num_list: 0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
    Copy matrix_list ke mtr_list:    0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6
[6] attribute .to_list()
[1, 2, 3, 4, 5, 6]
[7] attribute .unique()
[1 2 3 4 5 6]

## Atribut DataFrame & Series - Part 3

In [5]:
import pandas as pd
# Series
number_list = pd.Series([1,2,3,4,5,6])
# DataFrame
matrix_list = pd.DataFrame([[1,2,3],
                            ['a','b','c'],
                            [3,4,5],
                            ['d',4,6]])
# [8] attribute .index
print("[8] attribute .index")
print("    Index number_list:", number_list.index)
print("    Index matrix_list:", matrix_list.index)	

# [9] attribute .columns
print("[9] attribute .columns")
print("    Column matrix_list:", matrix_list.columns)

# [10] attribute .loc
print("[10] attribute .loc")
print("    .loc[0:1] pada number_list:", number_list.loc[0:1])
print("    .loc[0:1] pada matrix_list:", matrix_list.loc[0:1])

# [11] attribute .iloc
print("[11] attribute .iloc")
print("    iloc[0:1] pada number_list:", number_list.iloc[0:1])
print("    iloc[0:1] pada matrix_list:", matrix_list.iloc[0:1])

[8] attribute .index
    Index number_list: RangeIndex(start=0, stop=6, step=1)
    Index matrix_list: RangeIndex(start=0, stop=4, step=1)
[9] attribute .columns
    Column matrix_list: RangeIndex(start=0, stop=3, step=1)
[10] attribute .loc
    .loc[0:1] pada number_list: 0    1
1    2
dtype: int64
    .loc[0:1] pada matrix_list:    0  1  2
0  1  2  3
1  a  b  c
[11] attribute .iloc
    iloc[0:1] pada number_list: 0    1
dtype: int64
    iloc[0:1] pada matrix_list:    0  1  2
0  1  2  3

   ## Creating Series and Dataframe from List

In [1]:
import pandas as pd

# Creating series from list
ex_list = ['a',1,3,5,'c','d']
ex_series = pd.Series(ex_list)
print(ex_series)

# Creating dataframe from list
ex_list_of_list = [[1, 'a', 'b', 'c'],
                   [2.5, 'd', 'e', 'f'],
                   [5, 'g', 'h', 'i'],
                   [7.5, 'j', 10.5, 'l']]
index = ['dq', 'lab', 'kar', 'lan']
cols = ['float', 'char', 'obj','char']
ex_df = pd.DataFrame(ex_list_of_list, index = index, columns = cols)
print(ex_df)

0    a
1    1
2    3
3    5
4    c
5    d
dtype: object
     float char   obj char
dq     1.0    a     b    c
lab    2.5    d     e    f
kar    5.0    g     h    i
lan    7.5    j  10.5    l

## Creating Series & Dataframe from Dictionary

In [2]:
import pandas as pd

# Creating series from dictionary
dict_series = {'1':'a',
               '2':'b',
               '3':'c'}
ex_series = pd.Series(dict_series)
print(ex_series)

# Creating dataframe from dictionary
df_series = {'1':['a','b','c'],
             '2':['b','c','d'],
             '4':[2,3,'z']}
ex_df = pd.DataFrame(df_series)
print(ex_df)

1    a
2    b
3    c
dtype: object
   1  2  4
0  a  b  2
1  b  c  3
2  c  d  z

## Creating Series & Dataframe from Numpy Array

In [3]:
import pandas as pd
import numpy as np
# Creating series from numpy array (1D)
arr_series = np.array([1,2,3,4,5,6,6,7])
ex_series = pd.Series(arr_series)
print(ex_series)
# Creating dataframe from numpy array (2D)
arr_df = np.array([[1,2,3,5],
                   [5, 6, 7, 8],
                   ['a', 'b', 'c', 10]])
ex_df = pd.DataFrame(arr_df)
print(ex_df)

0    1
1    2
2    3
3    4
4    5
5    6
6    6
7    7
dtype: int32
   0  1  2   3
0  1  2  3   5
1  5  6  7   8
2  a  b  c  10

## Read Dataset - CSV dan TSV

In [6]:
import pandas as pd

# File CSV
df_csv = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/sample_csv.csv")

# Menmapikan 3 dta teratas
print(df_csv.head(3))

# File TSV
df_tsv = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/sample_tsv.tsv", sep = '\t')

# Menampilkan 3 data teratas
print(df_tsv.head(3))

   order_id  order_date  customer_id             city     province product_id  \
0   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0648
1   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3826
2   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1508

     brand  quantity  item_price
0  BRAND_C         4     1934000
1  BRAND_V         8      604000
2  BRAND_G        12      747000
   order_id  order_date  customer_id             city     province product_id  \
0   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0648
1   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3826
2   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1508

     brand  quantity  item_price
0  BRAND_C         4     1934000
1  BRAND_V         8      604000
2  BRAND_G        12      747000

## Read Dataset - Excel

In [8]:
import pandas as pd

# File XLSX dengan data di sheet "test"
df_excel = pd.read_excel("https://storage.googleapis.com/dqlab-dataset/sample_excel.xlsx", sheet_name="test")

# Menampilkan 4 data teratas
print(df_excel.head(4))

   order_id  order_date  customer_id             city     province product_id  \
0   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0648
1   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3826
2   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1508
3   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0520

     brand  quantity  item_price
0  BRAND_C         4     1934000
1  BRAND_V         8      604000
2  BRAND_G        12      747000
3  BRAND_B        12      450000

## Read Dataset - JSON

In [10]:
import pandas as pd

# Read File JSON
url = "https://storage.googleapis.com/dqlab-dataset/covid2019-api-herokuapp-v2.json"
df_json = pd.read_json(url)

# Menapilkan 10 data teratas
print(df_json.head(10))

                                                data          dt          ts
0  {'location': 'US', 'confirmed': 3363056, 'deat...  07-14-2020  1594684800
1  {'location': 'Brazil', 'confirmed': 1884967, '...  07-14-2020  1594684800
2  {'location': 'India', 'confirmed': 906752, 'de...  07-14-2020  1594684800
3  {'location': 'Russia', 'confirmed': 732547, 'd...  07-14-2020  1594684800
4  {'location': 'Peru', 'confirmed': 330123, 'dea...  07-14-2020  1594684800
5  {'location': 'Chile', 'confirmed': 317657, 'de...  07-14-2020  1594684800
6  {'location': 'Mexico', 'confirmed': 304435, 'd...  07-14-2020  1594684800
7  {'location': 'United Kingdom', 'confirmed': 29...  07-14-2020  1594684800
8  {'location': 'South Africa', 'confirmed': 2877...  07-14-2020  1594684800
9  {'location': 'Iran', 'confirmed': 259652, 'dea...  07-14-2020  1594684800

## Head and Tail

In [12]:
import pandas as pd

# Baca file CSV
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")
df.head(3)
df.tail(3)

,order_id,order_date,customer_id,city,province,product_id,brand,quantity,item_price
0,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P0648,BRAND_C,4,1934000
1,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P3826,BRAND_V,8,604000
2,1612339,2019-01-01,18055,Jakarta Selatan,DKI Jakarta,P1508,BRAND_G,12,747000

,order_id,order_date,customer_id,city,province,product_id,brand,quantity,item_price
98,1612390,2019-01-01,12681,Makassar,Sulawesi Selatan,P3354,BRAND_S,24,450000
99,1612390,2019-01-01,12681,Makassar,Sulawesi Selatan,P3357,BRAND_S,24,450000
100,1612390,2019-01-01,12681,Makassar,Sulawesi Selatan,P0422,BRAND_B,4,1325000

## Indexing - Part 2

In [13]:
import pandas as pd

# Baca file TSV sample_tsv.tsv
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv", sep="\t")

# Index dari df
print("Index:", df.index)

# Column dari df
print("Columns:", df.columns)

Index: RangeIndex(start=0, stop=101, step=1)
Columns: Index(['order_id', 'order_date', 'customer_id', 'city', 'province',
       'product_id', 'brand', 'quantity', 'item_price'],
      dtype='object')

## Indexing - Part 3 (Multi Index/Hierarchical Indexing)

In [16]:
import pandas as pd
# Baca file TSV sample_tsv.tsv
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv", sep="\t")

# Set multi index
df_x = df.set_index(['order_date', 'city' ,'customer_id'])

# Print nama dan level dari multi index
for name, level in zip(df_x.index.names, df_x.index.levels):
    print(name,':',level)

order_date : Index(['2019-01-01'], dtype='object', name='order_date')
city : Index(['Bogor', 'Jakarta Pusat', 'Jakarta Selatan', 'Jakarta Utara',
       'Makassar', 'Malang', 'Surabaya', 'Tangerang'],
      dtype='object', name='city')
customer_id : Int64Index([12681, 13963, 15649, 17091, 17228, 17450, 17470, 17511, 17616,
            18055],
           dtype='int64', name='customer_id')

## Indexing - Part 4

In [17]:
import pandas as pd

# Baca file sample_tsv.tsv untuk 10 baris pertama saja
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv", sep="\t", nrows=10)

# Cetak data frame awal
print("Dataframe awal:\n", df)

# Set index baru
df.index = ["Pesanan ke-" + str(i) for i in range(1, 11)]

# Cetak data frame dengan index baru
print("Dataframe dengan index baru:\n", df)

Dataframe awal:
    order_id  order_date  customer_id             city     province product_id  \
0   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0648
1   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3826
2   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1508
3   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0520
4   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1513
5   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3911
6   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1780
7   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3132
8   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1342
9   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P2556

     brand  quantity  item_price
0  BRAND_C         4     1934000
1  BRAND_V         8      604000
2  BRAND_G        12      747000
3  BRAND_B        12      450000
4  BRAND_G         3     1500000
5  BRAND_V         3     2095000
6  BRAND_H         3     2095000
7  BRAND_S         3     1745000
8  BRAND_F         6     1045000
9  BRAND_P         6     1045000
Dataframe dengan index baru:
                order_id  order_date  customer_id             city  \
Pesanan ke-1    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-2    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-3    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-4    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-5    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-6    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-7    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-8    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-9    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-10   1612339  2019-01-01        18055  Jakarta Selatan

                  province product_id    brand  quantity  item_price
Pesanan ke-1   DKI Jakarta      P0648  BRAND_C         4     1934000
Pesanan ke-2   DKI Jakarta      P3826  BRAND_V         8      604000
Pesanan ke-3   DKI Jakarta      P1508  BRAND_G        12      747000
Pesanan ke-4   DKI Jakarta      P0520  BRAND_B        12      450000
Pesanan ke-5   DKI Jakarta      P1513  BRAND_G         3     1500000
Pesanan ke-6   DKI Jakarta      P3911  BRAND_V         3     2095000
Pesanan ke-7   DKI Jakarta      P1780  BRAND_H         3     2095000
Pesanan ke-8   DKI Jakarta      P3132  BRAND_S         3     1745000
Pesanan ke-9   DKI Jakarta      P1342  BRAND_F         6     1045000
Pesanan ke-10  DKI Jakarta      P2556  BRAND_P         6     1045000

## Indexing - Part 5

In [18]:
import pandas as pd
# Baca file sample_tsv.tsv dan set lah index_col sesuai instruksi
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv", sep="\t", index_col=["order_date","order_id"])
# Cetak data frame untuk 8 data teratas
print("Dataframe:\n",df.head(8))

Dataframe:
                      customer_id             city     province product_id  \
order_date order_id
2019-01-01 1612339         18055  Jakarta Selatan  DKI Jakarta      P0648
           1612339         18055  Jakarta Selatan  DKI Jakarta      P3826
           1612339         18055  Jakarta Selatan  DKI Jakarta      P1508
           1612339         18055  Jakarta Selatan  DKI Jakarta      P0520
           1612339         18055  Jakarta Selatan  DKI Jakarta      P1513
           1612339         18055  Jakarta Selatan  DKI Jakarta      P3911
           1612339         18055  Jakarta Selatan  DKI Jakarta      P1780
           1612339         18055  Jakarta Selatan  DKI Jakarta      P3132

                       brand  quantity  item_price
order_date order_id
2019-01-01 1612339   BRAND_C         4     1934000
           1612339   BRAND_V         8      604000
           1612339   BRAND_G        12      747000
           1612339   BRAND_B        12      450000
           1612339   BRAND_G         3     1500000
           1612339   BRAND_V         3     2095000
           1612339   BRAND_H         3     2095000
           1612339   BRAND_S         3     1745000

## Slicing - Part 1

In [19]:
import pandas as pd
# Baca file sample_csv.csv
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")
# Slice langsung berdasarkan kolom
df_slice = df.loc[(df["customer_id"] == "18055") &
                  (df["product_id"].isin(["P0029", "P0040", "P0041", "P0116", "P0117"]))]
print("Slice langsung berdasarkan kolom:\n", df_slice)

Slice langsung berdasarkan kolom:
 Empty DataFrame
Columns: [order_id, order_date, customer_id, city, province, product_id, brand, quantity, item_price]
Index: []

## Slicing - Part 2

In [20]:
import pandas as pd
# Baca file sample_csv.csv
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")
# Set index dari df sesuai instruksi
df = df.set_index(["order_date","order_id","product_id"])
# Slice sesuai intruksi
df_slice = df.loc[("2019-01-01",1612339,["P2154","P2159"]),:]
print("Slice df:\n", df_slice)

Slice df:
                                 customer_id             city     province  \
order_date order_id product_id
2019-01-01 1612339  P2154             18055  Jakarta Selatan  DKI Jakarta
                    P2159             18055  Jakarta Selatan  DKI Jakarta

                                  brand  quantity  item_price
order_date order_id product_id
2019-01-01 1612339  P2154       BRAND_M         4     1745000
                    P2159       BRAND_M        24      310000

## Transforming - Part 1

In [21]:
import pandas as pd
# Baca file sample_csv.csv
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")

# Tampilkan tipe data 
print("Tipe data df:\n", df.dtypes)

# Ubah tipe data kolom order_date menjadi date time
df["order_date"] = pd.to_datetime(df["order_date"])

# Tampilkan tipe data df setelah transformasi
print("\nTipe data df setelah transformasi:\n", df.dtypes)

Tipe data df:
 order_id        int64
order_date     object
customer_id     int64
city           object
province       object
product_id     object
brand          object
quantity        int64
item_price      int64
dtype: object

Tipe data df setelah transformasi:
 order_id                int64
order_date     datetime64[ns]
customer_id             int64
city                   object
province               object
product_id             object
brand                  object
quantity                int64
item_price              int64
dtype: object

## Transforming - Part 2

In [22]:
import pandas as pd
# Baca file sample_csv.csv
df = pd.read_csv("https://dqlab-dataset.s3-ap-southeast-1.amazonaws.com/sample_csv.csv")
# Tampilkan tipe data
print("Tipe data df:\n", df.dtypes)
# Ubah tipe data kolom quantity menjadi tipe data numerik float
df["quantity"] = pd.to_numeric(df["quantity"], downcast="float")
# Ubah tipe data kolom city menjadi tipe data category
df["city"] = df["city"].astype("category")
# Tampilkan tipe data df setelah transformasi
print("\nTipe data df setelah transformasi:\n", df.dtypes)

Tipe data df:
 order_id        int64
order_date     object
customer_id     int64
city           object
province       object
product_id     object
brand          object
quantity        int64
item_price      int64
dtype: object

Tipe data df setelah transformasi:
 order_id          int64
order_date       object
customer_id       int64
city           category
province         object
product_id       object
brand            object
quantity        float32
item_price        int64
dtype: object

## Transforming - Part 3

In [23]:
import pandas as pd
# Baca file sample_csv.csv
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")
# Cetak 5 baris teratas kolom brand
print("Kolom brand awal:\n", df["brand"].head())
# Gunakan method apply untuk merubah isi kolom menjadi lower case
df["brand"] = df["brand"].apply(lambda x: x.lower())
# Cetak 5 baris teratas kolom brand
print("Kolom brand setelah apply:\n", df["brand"].head())
# Gunakan method map untuk mengambil kode brand yaitu karakter terakhirnya
df["brand"] = df["brand"].map(lambda x : x[-1])
# Cetak 5 baris teratas kolom brand
print("Kolom brand setelah map:\n", df["brand"].head())

Kolom brand awal:
 0    BRAND_C
1    BRAND_V
2    BRAND_G
3    BRAND_B
4    BRAND_G
Name: brand, dtype: object
Kolom brand setelah apply:
 0    brand_c
1    brand_v
2    brand_g
3    brand_b
4    brand_g
Name: brand, dtype: object
Kolom brand setelah map:
 0    c
1    v
2    g
3    b
4    g
Name: brand, dtype: object

## Inspeksi Missing Value

In [24]:
import pandas as pd
# Baca file "public data covid19 jhu csse eu.csv"
df= pd.read_csv("https://storage.googleapis.com/dqlab-dataset/CHAPTER%204%20-%20missing%20value%20-%20public%20data%20covid19%20.csv")

# Cetak info dari df
print(df.info())

# Cetak jumlah missing value di setiap kolom
mv = df.isna().sum()
print("\nJumlah missing value per kolom:\n", mv)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   province_state  960 non-null    object
 1   country_region  1000 non-null   object
 2   date            1000 non-null   object
 3   latitude        874 non-null    float64
 4   longitude       874 non-null    float64
 5   location_geom   874 non-null    object
 6   confirmed       1000 non-null   int64
 7   deaths          999 non-null    float64
 8   recovered       999 non-null    float64
 9   active          949 non-null    float64
 10  fips            949 non-null    float64
 11  admin2          842 non-null    object
 12  combined_key    0 non-null      float64
dtypes: float64(7), int64(1), object(5)
memory usage: 101.7+ KB
None

Jumlah missing value per kolom:
 province_state      40
country_region       0
date                 0
latitude           126
longitude          126
location_geom      126
confirmed            0
deaths               1
recovered            1
active              51
fips                51
admin2             158
combined_key      1000
dtype: int64

## Treatment untuk Missing Value - Part 2

In [25]:
import pandas as pd
# Baca file "public data covid19 jhu csse eu.csv"
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/CHAPTER%204%20-%20missing%20value%20-%20public%20data%20covid19%20.csv")
# Cetak ukuran awal dataframe
print("Ukuran awal df: %d baris, %d kolom." % df.shape)

# Drop kolom yang seluruhnya missing value dan cetak ukurannya
df = df.dropna(axis=1, how="all")
print("Ukuran df setelah buang kolom dengan seluruh data missing: %d baris, %d kolom." % df.shape)
# Drop baris jika ada satu saja data yang missing dan cetak ukurannya
df = df.dropna(axis=0, how= "any")
print("Ukuran df setelah dibuang baris yang memiliki sekurangnya 1 missing value: %d baris, %d kolom." % df.shape)

Ukuran awal df: 1000 baris, 13 kolom.
Ukuran df setelah buang kolom dengan seluruh data missing: 1000 baris, 12 kolom.
Ukuran df setelah dibuang baris yang memiliki sekurangnya 1 missing value: 746 baris, 12 kolom.

## Treatment untuk Missing Value - Part 3

In [26]:
import pandas as pd
# Baca file "public data covid19 jhu csse eu.csv"
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/CHAPTER%204%20-%20missing%20value%20-%20public%20data%20covid19%20.csv")
# Cetak unique value pada kolom province_state
print("Unique value awal:\n",  df["province_state"].unique())
# Ganti missing value dengan string "unknown_province_state"
df["province_state"] = df["province_state"].fillna("unknown_province_state")
# Cetak kembali unique value pada kolom province_state
print("Unique value setelah fillna:\n", df["province_state"].unique())

Unique value awal:
 [nan 'US' 'Guam' 'Iowa']
Unique value setelah fillna:
 ['unknown_province_state' 'US' 'Guam' 'Iowa']

## Treatment untuk Missing Value - Part 4

In [1]:
import pandas as pd
# Baca file df 
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/CHAPTER%204%20-%20missing%20value%20-%20public%20data%20covid19%20.csv")

# Cetak nilai mean dan median awal 
print("Awal: mean = %f, median = %f." % (df["active"].mean(), df["active"].median()))

# Isi missing value kolom active dengan median
df_median = df["active"].fillna(df["active"].median())

# Cetak nilai mean dan median awal setelah diisi dengan median
print("Fillna median: mean = %f, median = %f." % (df_median.mean(), df_median.median()))

# Isi missing value kolom active dengan mean
df_mean = df["active"].fillna(df["active"].mean())

# Cetak nilai mean dan median awal setelah diisi dengan mean
print("Fillna mean: mean = %f, median = %f." % (df_mean.mean(), df_mean.median()))

Awal: mean = 192.571128, median = 41.000000.
Fillna median: mean = 184.841000, median = 41.000000.
Fillna mean: mean = 192.571128, median = 49.000000.

## Treatment untuk Missing Value - Part 5

In [1]:
import numpy as np
import pandas as pd
# Data
ts = pd.Series({
   "2020-01-01":9,
   "2020-01-02":np.nan,
   "2020-01-05":np.nan,
   "2020-01-07":24,
   "2020-01-10":np.nan,
   "2020-01-12":np.nan,
   "2020-01-15":33,
   "2020-01-17":np.nan,
   "2020-01-16":40,
   "2020-01-20":45,
   "2020-01-22":52,
   "2020-01-25":75,
   "2020-01-28":np.nan,
   "2020-01-30":np.nan
})
# Isi missing value menggunakan interpolasi linier
ts = ts.interpolate()
# Cetak time series setelah interpolasi linier
print("Setelah diisi missing valuenya:\n", ts)

Setelah diisi missing valuenya:
 2020-01-01     9.0
2020-01-02    14.0
2020-01-05    19.0
2020-01-07    24.0
2020-01-10    27.0
2020-01-12    30.0
2020-01-15    33.0
2020-01-17    36.5
2020-01-16    40.0
2020-01-20    45.0
2020-01-22    52.0
2020-01-25    75.0
2020-01-28    75.0
2020-01-30    75.0
dtype: float64

## Project dari Andra

In [1]:
import pandas as pd

# 1. Baca dataset
print("[1] BACA DATASET")
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/retail_raw_test.csv", low_memory=False)
print(" Dataset:\n", df.head())
print(" Info:\n", df.info())

# 2. Ubah tipe data
print("\n[2] UBAH TIPE DATA")
df["customer_id"] = df["customer_id"].apply(lambda x: x.split("'")[1]).astype("int64")
df["quantity"] = df["quantity"].apply(lambda x: x.split("'")[1]).astype("int64")
df["item_price"] = df["item_price"].apply(lambda x: x.split("'")[1]).astype("int64")
print(" Tipe data:\n", df.dtypes)

# 3. Transform "product_value" supaya bentuknya seragam dengan format "PXXXX", assign ke kolom baru "product_id", dan drop kolom "product_value", jika terdapat nan gantilah dengan "unknown"
print("\n[3] TRANSFORM product_value MENJADI product_id")
# Buat fungsi
import math
def impute_product_value(val):
    if math.isnan(val):
        return "unknown"
    else:
        return 'P' + '{:0>4}'.format(str(val).split('.')[0])
# Buat kolom "product_id"
df["product_id"] = df["product_value"].apply(lambda x: impute_product_value(x))
# Hapus kolom "product_value"
df.drop(["product_value"], axis=1, inplace=True)
# Cetak 5 data teratas
print(df.head())

# 4. Tranform order_date menjadi value dengan format "YYYY-mm-dd"
print("\n[4] TRANSFORM order_date MENJADI FORMAT YYYY-mm-dd")
months_dict = {
   "Jan":"01",
   "Feb":"02",
   "Mar":"03",
   "Apr":"04",
   "May":"05",
   "Jun":"06",
   "Jul":"07",
   "Aug":"08",
   "Sep":"09",
   "Oct":"10",
   "Nov":"11",
   "Dec":"12"
}
df["order_date"] = pd.to_datetime(df["order_date"].apply(lambda x: str(x)[-4:] + "-" + months_dict[str(x)[:3]] + "-" + str(x)[4:7]))
print(" Tipe data:\n", df.dtypes)

# 5. Mengatasi data yang hilang di beberapa kolom
print("\n[5] HANDLING MISSING VALUE")
# Kolom "city" dan "province" masih memiliki missing value, nilai yang hilang di kedua kolom ini diisi saja dengan "unknown"
df[["city","province"]] = df[["city","province"]].fillna("unknown")
# Kolom brand juga masih memiliki missing value, Ganti value NaN menjadi "no_brand"
df["brand"] = df["brand"].fillna("no_brand")
# Cek apakah masih terdapat missing value di seluruh kolom 
print(" Info:\n", df.info())

# 6. Membuat kolom baru "city/province" dengan menggabungkan kolom "city" dan kolom "province" dan delete kolom asalnya
print("\n[6] MEMBUAT KOLOM BARU city/province")
df["city/province"] = df["city"] + "/" + df["province"]
# drop kolom "city" dan "province" karena telah digabungkan
df.drop(["city","province"], axis=1, inplace=True)
# Cetak 5 data teratas
print(df.head())

# 7. Membuat hierarchical index yang terdiri dari kolom "city/province", "order_date", "customer_id", "order_id", "product_id"
print("\n[7] MEMBUAT HIERACHICAL INDEX")
df = df.set_index(["city/province","order_date","customer_id","order_id","product_id"])
# urutkanlah berdasarkan index yang baru
df = df.sort_index()
# Cetak 5 data teratas
print(df.head())

# 8. Membuat kolom "total_price" yang formula nya perkalian antara kolom "quantity" dan kolom "item_price"
print("\n[8] MEMBUAT KOLOM total_price")
df["total_price"] = df["quantity"] * df["item_price"]
# Cetak 5 data teratas
print(df.head())

# 9. Slice dataset agar hanya terdapat data bulan Januari 2019
print("\n[9] SLICE DATASET UNTUK BULAN JANUARI 2019 SAJA")
idx = pd.IndexSlice
df_jan2019 = df.loc[idx[:, "2019-01-01":"2019-01-31"], :]
print("Dataset akhir:\n", df_jan2019)

# END OF PROJECT

[1] BACA DATASET
 Dataset:
    order_id    order_date customer_id           city     province    brand  \
0   1730350  Dec 11, 2019      '13447      Surakarta  Jawa Tengah  BRAND_F
1   1677490  Jul 31, 2019          '0            NaN          NaN  BRAND_F
2   1704211  Oct 18, 2019      '16128  Jakarta Pusat  DKI Jakarta  BRAND_H
3   1679695  Aug 07, 2019      '16225     Yogyakarta   Yogyakarta  BRAND_H
4   1679080  Aug 05, 2019          '0            NaN          NaN  BRAND_E

  quantity item_price  product_value
0      '24    '113000         1374.0
1       '1   '1164000         1370.0
2      '12    '747000         1679.0
3       '6    '590000         1708.0
4       '2    '740000         1201.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       5000 non-null   int64
 1   order_date     5000 non-null   object
 2   customer_id    5000 non-null   object
 3   city           3802 non-null   object
 4   province       3802 non-null   object
 5   brand          4995 non-null   object
 6   quantity       5000 non-null   object
 7   item_price     5000 non-null   object
 8   product_value  4995 non-null   float64
dtypes: float64(1), int64(1), object(7)
memory usage: 351.7+ KB
 Info:
 None

[2] UBAH TIPE DATA
 Tipe data:
 order_id           int64
order_date        object
customer_id        int64
city              object
province          object
brand             object
quantity           int64
item_price         int64
product_value    float64
dtype: object

[3] TRANSFORM product_value MENJADI product_id
   order_id    order_date  customer_id           city     province    brand  \
0   1730350  Dec 11, 2019        13447      Surakarta  Jawa Tengah  BRAND_F
1   1677490  Jul 31, 2019            0            NaN          NaN  BRAND_F
2   1704211  Oct 18, 2019        16128  Jakarta Pusat  DKI Jakarta  BRAND_H
3   1679695  Aug 07, 2019        16225     Yogyakarta   Yogyakarta  BRAND_H
4   1679080  Aug 05, 2019            0            NaN          NaN  BRAND_E

   quantity  item_price product_id
0        24      113000      P1374
1         1     1164000      P1370
2        12      747000      P1679
3         6      590000      P1708
4         2      740000      P1201

[4] TRANSFORM order_date MENJADI FORMAT YYYY-mm-dd
 Tipe data:
 order_id                int64
order_date     datetime64[ns]
customer_id             int64
city                   object
province               object
brand                  object
quantity                int64
item_price              int64
product_id             object
dtype: object

[5] HANDLING MISSING VALUE
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     5000 non-null   int64
 1   order_date   5000 non-null   datetime64[ns]
 2   customer_id  5000 non-null   int64
 3   city         5000 non-null   object
 4   province     5000 non-null   object
 5   brand        5000 non-null   object
 6   quantity     5000 non-null   int64
 7   item_price   5000 non-null   int64
 8   product_id   5000 non-null   object
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 351.7+ KB
 Info:
 None

[6] MEMBUAT KOLOM BARU city/province
   order_id order_date  customer_id    brand  quantity  item_price product_id  \
0   1730350 2019-12-11        13447  BRAND_F        24      113000      P1374
1   1677490 2019-07-31            0  BRAND_F         1     1164000      P1370
2   1704211 2019-10-18        16128  BRAND_H        12      747000      P1679
3   1679695 2019-08-07        16225  BRAND_H         6      590000      P1708
4   1679080 2019-08-05            0  BRAND_E         2      740000      P1201

               city/province
0      Surakarta/Jawa Tengah
1            unknown/unknown
2  Jakarta Pusat/DKI Jakarta
3      Yogyakarta/Yogyakarta
4            unknown/unknown

[7] MEMBUAT HIERACHICAL INDEX
                                                                     brand  \
city/province          order_date customer_id order_id product_id
Banda Aceh/Aceh        2019-04-17 12818       1642480  P1936       BRAND_K
                       2019-11-12 12360       1715116  P0758       BRAND_C
                                                       P3042       BRAND_R
                       2019-12-09 12374       1729036  P1660       BRAND_G
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628       BRAND_C

                                                                   quantity  \
city/province          order_date customer_id order_id product_id
Banda Aceh/Aceh        2019-04-17 12818       1642480  P1936             24
                       2019-11-12 12360       1715116  P0758              8
                                                       P3042             12
                       2019-12-09 12374       1729036  P1660              4
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628             12

                                                                   item_price
city/province          order_date customer_id order_id product_id
Banda Aceh/Aceh        2019-04-17 12818       1642480  P1936           450000
                       2019-11-12 12360       1715116  P0758           695000
                                                       P3042           310000
                       2019-12-09 12374       1729036  P1660          2795000
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628           695000

[8] MEMBUAT KOLOM total_price
                                                                     brand  \
city/province          order_date customer_id order_id product_id
Banda Aceh/Aceh        2019-04-17 12818       1642480  P1936       BRAND_K
                       2019-11-12 12360       1715116  P0758       BRAND_C
                                                       P3042       BRAND_R
                       2019-12-09 12374       1729036  P1660       BRAND_G
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628       BRAND_C

                                                                   quantity  \
city/province          order_date customer_id order_id product_id
Banda Aceh/Aceh        2019-04-17 12818       1642480  P1936             24
                       2019-11-12 12360       1715116  P0758              8
                                                       P3042             12
                       2019-12-09 12374       1729036  P1660              4
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628             12

                                                                   item_price  \
city/province          order_date customer_id order_id product_id
Banda Aceh/Aceh        2019-04-17 12818       1642480  P1936           450000
                       2019-11-12 12360       1715116  P0758           695000
                                                       P3042           310000
                       2019-12-09 12374       1729036  P1660          2795000
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628           695000

                                                                   total_price
city/province          order_date customer_id order_id product_id
Banda Aceh/Aceh        2019-04-17 12818       1642480  P1936          10800000
                       2019-11-12 12360       1715116  P0758           5560000
                                                       P3042           3720000
                       2019-12-09 12374       1729036  P1660          11180000
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628           8340000

[9] SLICE DATASET UNTUK BULAN JANUARI 2019 SAJA
Dataset akhir:
                                                                      brand  \
city/province          order_date customer_id order_id product_id
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628       BRAND_C
Bandung/Jawa Barat     2019-01-09 16134       1617055  P1597       BRAND_G
                       2019-01-10 17392       1617952  P2137       BRAND_M
                       2019-01-14 15527       1618828  P3115       BRAND_S
                       2019-01-29 13253       1620289  P0099       BRAND_A
...                                                                    ...
unknown/unknown        2019-01-30 0           1620766  P3070       BRAND_R
                                                       P3483       BRAND_S
                       2019-01-31 0           1621057  P1298       BRAND_F
                                                       P1773       BRAND_H
                                                       P2877       BRAND_R

                                                                   quantity  \
city/province          order_date customer_id order_id product_id
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628             12
Bandung/Jawa Barat     2019-01-09 16134       1617055  P1597              9
                       2019-01-10 17392       1617952  P2137              2
                       2019-01-14 15527       1618828  P3115              1
                       2019-01-29 13253       1620289  P0099             12
...                                                                     ...
unknown/unknown        2019-01-30 0           1620766  P3070              1
                                                       P3483              3
                       2019-01-31 0           1621057  P1298              1
                                                       P1773              5
                                                       P2877              1

                                                                   item_price  \
city/province          order_date customer_id order_id product_id
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628           695000
Bandung/Jawa Barat     2019-01-09 16134       1617055  P1597           520000
                       2019-01-10 17392       1617952  P2137          1062000
                       2019-01-14 15527       1618828  P3115          1045000
                       2019-01-29 13253       1620289  P0099           450000
...                                                                       ...
unknown/unknown        2019-01-30 0           1620766  P3070           593000
                                                       P3483           593000
                       2019-01-31 0           1621057  P1298           296000
                                                       P1773           593000
                                                       P2877          1486000

                                                                   total_price
city/province          order_date customer_id order_id product_id
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628           8340000
Bandung/Jawa Barat     2019-01-09 16134       1617055  P1597           4680000
                       2019-01-10 17392       1617952  P2137           2124000
                       2019-01-14 15527       1618828  P3115           1045000
                       2019-01-29 13253       1620289  P0099           5400000
...                                                                        ...
unknown/unknown        2019-01-30 0           1620766  P3070            593000
                                                       P3483           1779000
                       2019-01-31 0           1621057  P1298            296000
                                                       P1773           2965000
                                                       P2877           1486000

[334 rows x 4 columns]