## Program Pertama: "Hello World"

In [1]:
print("Hello World")

Hello World

## Program Pertamaku

In [2]:
print("Halo Dunia")
print("Riset Bahasa Python")

Halo Dunia
Riset Bahasa Python

## Struktur Program Python - Part 1

In [3]:
# Statement
print("Belajar Python menyenangkan")
print("Halo Dunia")
print("Hello World!")

# Variables and Literals
bilangan1 = 5
bilangan2 = 10
kalimat1 = "Belajar Bahasa Python"

# Operators
print(bilangan1 + bilangan2)

Belajar Python menyenangkan
Halo Dunia
Hello World!
15

## Tugas Praktek

In [4]:
bilangan1 = 20
bilangan2 = 10
print(bilangan1 - bilangan2)

10

## Tugas Praktek

In [5]:
harga_asli = 20000
potongan = 200
harga_setelah_potongan = harga_asli - potongan
harga_final = harga_setelah_potongan * 1.1 
print(harga_final)

21780.0

## Sequence Type - Part 1

In [1]:
contoh_list = [1, 'dua', 3, 4.0, 5]
print(contoh_list[0])
print(contoh_list[3])
contoh_list = [1, 'dua', 3, 4.0, 5]
contoh_list[3] = 'empat'
print(contoh_list[3])

1
4.0
empat

## Sequence Type - Part 2

In [2]:
contoh_tuple = ('Januari', 'Februari', 'Maret', 'April' )
print(contoh_tuple[0])
contoh_tuple = ('Januari', 'Februari', 'Maret', 'April' )
contoh_tuple[0] = 'Desember'

Januari

TypeError: 'tuple' object does not support item assignment

## Set Type (Tipe Data Set)

In [4]:
contoh_list = ['Dewi', 'Budi', 'Cici', 'Linda','Cici'] 
print(contoh_list)
contoh_set = {'Dewi', 'Budi', 'Cici', 'Linda','Cici'}
print(contoh_set)
contoh_frozen_set = ({'Dewi', 'Budi', 'Cici', 'Linda','Cici'})
print(contoh_frozen_set)

#  Tipe data frozenset sebenarnya hanya merupakan set yang bersifat immutable, 
# yang artinya setiap elemen di dalam frozenset tidak dapat diubah setelah proses deklarasinya.

['Dewi', 'Budi', 'Cici', 'Linda', 'Cici']
{'Dewi', 'Linda', 'Cici', 'Budi'}
{'Dewi', 'Linda', 'Cici', 'Budi'}